<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autralian Cititzenship Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TavelApp.styles.css" asp-append-version="true" />
</head>


<body>

<div  style="visibility:visible; color: white; background-color:#164549">
    <p>Australian Citizenship Practice Test</p>
</div>
<div style="position: fixed; background-color: #164549; color: white">
    <div>Correct: <div id="correctCounter">0</div></div>
</div>
<div style="position: fixed; background-color: #164549; color: white; margin-top: 5%;">
    <div>Wrong: <div id="wrongCounter">0</div></div>
</div>
<div class="container" style="">
       
            @RenderBody()
        
    </div>

  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>