@page
@model PrivacyModel



<p>This application is just to practice the test for Australian Citizenship.</p>
<p>This has been created to support your existing praparation and doesnot replace your way to prepare.</p>
<p>Please use office page to get more details on material.</p>
<p>This doesn't guarantee any correct details or correct questions and question may or might not come in actual exams.</p>
<p>We don't store any transaction information, and we are not liable for anything</p>
